$topBarHeight: 22px;
$bottomBarHeight: 65px;
$bottomBarTopPadding: 7px;
$bottomBarBorderWidth: 1px;
$bottomBarBorderStyle: $bottomBarBorderWidth solid #797979;
$bottomBarBorderRadius: 9px;
$bottomBarWidgetGroupSpacing: 10px;
$overflowHeight: 11px;
$textColor: #434343;
$hoverColor: #dfdfdf;
