@import "../common.scss";

.iconButton {
  min-width: 60px;
  height: 100%;

  .icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: calc($bottomBarTopPadding / 2) auto 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .iconButtonHighlightSvg {
    opacity: 0;
  }

  &:hover {
    .iconButtonHighlightSvg {
      opacity: 0.5;
    }
  }

  &:active {
    .iconButtonHighlightSvg {
      opacity: 1;
    }
  }

  &.selected {
    background-Color: $hoverColor;
    .iconButtonHighlightSvg {
      opacity: 1;
    }

    &.disabled {
      opacity: 0.85;
    }
  }

  .iconButtonText {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
  }
}
