.playbackButton {
  min-width: 60px;
  height: 100%;
  color: #434343;
  font-weight: bold;

  &:hover svg {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
  }

  &:active svg {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
  }

  svg {
    background: white;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin: 7px auto 0 auto;

    path {
      fill: #797979;
    }
  }
}

.startStop {
  margin-left: -10px !important;
}
