@import "./geohazard-components/common.scss";

$robotoCondensed: 'Roboto Condensed', Lato, arial, sans-serif;
$lato: Lato, arial, sans-serif;

$controlText: #434343;
$controlGray: #797979;
$controlGreenDark2: #32a447;

$coniferous: #006951;
$deciduous: #33a227;
$shrub: #79d300;
$grass: #bcfb75;
$burned: #000;

$rightPanelTransition: all 0.8s ease-in-out;
$rightPanelWidth: 315px;

// Export the color palette to make it accessible to JS
:export {
  coniferous: $coniferous;
  deciduous: $deciduous;
  shrub: $shrub;
  grass: $grass;
  burned: $burned;
  robotoFontFamily: $robotoCondensed;
  controlGray: $controlGray;
}
