@import "common";

$tabVerticalSpacing: 10px;
$tabWidth: 68px;
$padding: 4px;

.rightPanel {
  position: absolute;
  right: -$rightPanelWidth;
  width: $rightPanelWidth;
  top: 0;
  bottom: 0;
  transition: $rightPanelTransition;
  border-top: 1px solid $controlGray;
  border-left: 1px solid $controlGray;
  background-color: $controlGreenDark2;

  .rightPanelContent {
    margin-left: $padding;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    height: 100%;
  }

  &.wide {
    width: 70vw;
    right: -70vw;
  }

  &.open {
    right: 0;
  }

  .rightPanelTabs {
    position: absolute;
    left: -$tabWidth ;
    top: 0;
  }

  .rightPanelTab {
    margin-top: $tabVerticalSpacing;
    box-sizing: border-box;
    width: $tabWidth;
    height: 52px;
    border-left: 1px solid $controlGray;
    border-top: 1px solid $controlGray;
    border-bottom: 1px solid $controlGray;
    border-right: 1px solid $controlGreenDark2;
    background-color: $controlGreenDark2;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    .tabContent {
      width: calc(100% - $padding);
      height: calc(100% - 2 * $padding);
      background-color: #fff;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $lato;
      font-weight: bold;
      font-size: 14px;
    }
  }
}

.graphControls {
  display: flex;
  justify-content: center;
  align-items: center;

  button.allDataBtn {
    margin-top: 30px;
    border: 1px solid $controlGray;
    border-radius: 5px;
    font-family: $lato;
    font-size: 12px;
    color: $controlText;
    box-sizing: border-box;
    width: 121px;
    height: 29px;
  }
}


